:root {
	--mainColor: #606b56;
	--secColor: #515a48;

	--borderColor: #161914;

	--mainText: #fff;
	--secText: #eeeeee;

	--themeBorder: #fff;
	--themeBorderDot: #fc6058;

	--previewBg: #515a48;
	--previewShadow: #2a2f25;

	--buttonColor: #669966;

	--cornerLine: #17a2b8;
}